loop/if

In [17]:
x = 0
while (x < 4):
    print(x)
    x = x+1

0
1
2
3

In [18]:
x = 0
while (x < 4):
    print(x)
    x = x+1

0
1
2
3

In [19]:
i = 10
while i <= 10:
    print(i)
    i = i+1

10

In [20]:
i = 8
while i <= 10:
    print(i)
    i = i+1

8
9
10

In [21]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [22]:
months=["jan","feb","mar","apr","may","june"]
for m in months:
    print(m)

jan
feb
mar
apr
may
june

In [23]:
words=['cat','window','defenestrate']
for w in words:
    print(w)

cat
window
defenestrate

In [24]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [25]:
range(5,10)

range(5, 10)

In [26]:
range(0,10,3)

range(0, 10, 3)

In [27]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
x=8
y=4
if(x>y):
    st="x is less than y"
else:
    st="x is greater than y"
print(st)

x is less than y

In [29]:
x=8
y=4
if(x<y):
    st="x is less than y"
else:
    st="x is greater than y"
print(st)

x is greater than y

In [30]:
x=int(input("Please enter in integer:"))

Please enter in integer:42

In [31]:
if x < 0:
    x=0
    print('Negative changed to zero')
elif x == 0:
    print('zero')
elif x == 1:
    print('single')
else:
    print('More')

More

In [32]:
total = 100
country = "US"
country = "AU"
if country == "US":
    if total <= 50:
        print("Shipping Cost is $50")
elif total <= 100:
    print("Shipping Cost is $25")
elif total <= 150:
    print("Shipping Costs $5")
else:
    print("FREE")

Shipping Cost is $25

In [39]:
total = 100
country == "AU"
if country == "AU"
    if total<= 50:
    print("Shipping Cost is $100")
else:
    print("FREE")

SyntaxError: invalid syntax (1101179621.py, line 3)

In [40]:
for num in range(2,10):
    if num %2 == 0:
        print("Found an even number",num)
    continue
    print("Found a number",num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

In [41]:
for num in range(2,10):
    if num %2 == 1:
        print("Found an even number",num)
    continue
    print("Found a number",num)

Found an even number 3
Found an even number 5
Found an even number 7
Found an even number 9

In [42]:
for num in range(2,10):
    if num %2 == 1:
        print("Found an even number",num)
    continue
    print("Found a number",num)

Found an even number 3
Found an even number 5
Found an even number 7
Found an even number 9

In [43]:
for x in range (10,20):

    if (x == 15): break

    if (x % 2 == 0) : continue

    print(x)

11
13

Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [45]:
num_list = [10, 20, 33, 46, 55]

print("Given list:", num_list)

print('Divisible by 5:')

for num in num_list:

    if num % 5 == 0:
        
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

Calculate the sum of all numbers from 1 to a given number

In [46]:
s=0

In [47]:
n=int(input("Enter Number"))

Enter Number9

In [48]:
for i in range(1,n+1,1):
    s=s+1
    print("\n")
    print("Sum is :",s)

Sum is : 1


Sum is : 2


Sum is : 3


Sum is : 4


Sum is : 5


Sum is : 6


Sum is : 7


Sum is : 8


Sum is : 9

Write a program to print multiplication table of a given number

In [49]:
n=2

In [50]:
for i in range(1,11,1):
    product = n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [51]:
vec = [-4,-2,0,2,4]

In [52]:
for x in vec:
    x=x*2
    print(x)

-8
-4
0
4
8

In [53]:
for x in vec:
    if x >=0:
        print(x)

0
2
4

In [54]:
freshfruit=['banana', 'loganberry', 'passion fruit']
for weapon in freshfruit:
    weapon.strip()

In [55]:
for x in range(6):
    x=(x,x**2)
    print(x)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)