function

In [1]:
def square(x):
    return x*x
print(square(4))

16

In [2]:
def add_number(x,y):
    sum=x+y
    return sum
num1=5
num2=6
print("The Sum is", add_number(num1,num2))

The Sum is 11

In [6]:
def greet(name,msg):
    """This function greets to the person with the provided message"""
    print("Hello",'name'+'',+'msg')
    greet("Andrew","Good Morning")

Write a program to create a function that takes two arguments, name and age, and print their value.

Write a function absolute_value to find absolute of a given number.

In [7]:
def absolute_value(num):
    if num >=0:
        return num
    else:
        return - num
print(absolute_value(2))
print(absolute_value(-4))

2
4

write a function multiply to calculate multiplication of two numbers by taking as a arguments.

In [11]:
def absolute_value(num):
    if num >=0:
        return num
    else:
        return - num
print(absolute_value(2))
print(absolute_value(-4))

2
4

In [12]:
def multiply(x,y):
    print("value of x=",x)
    print("value of y=",y)
    return x*y
print(multiply(2,4))

value of x= 2
value of y= 4
8

In [50]:

def my_func()
x=10
print("Value inside function:",x)
x=20
my_func()
print("Value outside function:",x)
    squares=list(map(lambda x:x**2,range(10)))
    squares=[x**2 for x in range(10)]

SyntaxError: invalid syntax (3871933739.py, line 1)

In [24]:
sequences = [10,2,8,7,5,4,3,11,0,1]
filtered_result = map(lambda x:x**3, sequences)
print(list(filtered_result))

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [25]:

sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x:(x > 4), sequences)
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [42]:
squares=[]
for x in range(10):
    squares.append(x**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
for x in range(10):
    squares.append(x**2)
    print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [51]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2
# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)
# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

In [52]:
def first_last_same(numberList):
    print("Given list:", numberList)
    first_num = numberList[0]
    last_num = numberList[-1]
    if first_num == last_num:
        return True
    else:
        return False
numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))
numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False